body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
}

body {
    margin: 0%;
    background-color: #ff8d27;
}

 .cabecera {

  background-color: #5e81d1;
  display: flex;
  padding: 20px;
}

h1 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  margin-left: -10px;
}

li a {
  font-size: 11px;
  padding: 8px;
  text-decoration: none;
  color: black;
}

li a:hover {
 text-decoration-line: underline;;
}

.nav {
    position: absolute;
    right: 10px;
    /* list-style-type: none; */
    display: flex;
    /* max-width: 100%; */
    /* padding-right: 10px; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    top: 5px;

}

.nav:hover {
  cursor: pointer;
}


 .barra-inf {
    height:65px;
    max-width: 100%;
    border-bottom: solid 1.1px #d96600;
    background-color: #f87500;

}
.editar_comprados {
    height:65px;
    max-width: 100%;
}

ul {
  list-style-type : none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /*border-bottom: solid 1.1px#cccccc;*/
  margin-top: 14px;
}

td {
  text-align: left;
  padding: 8px;
  width: 100%;
}
.leche {
  text-decoration:line-through;
}
.pan {
  text-decoration:line-through;
}
.suma {
  text-align: right;
  padding: 8px;
  margin-right: 10px;
}

tr:hover {
  background-color: #c16b1e;
  color: white;
}
.fa-times:before {
    content: "\f00d";
    margin-left: 20px;
    margin:-100%;
}
.fas {
margin-left: 10px;
}
.border {
border-bottom: solid 1.1px#cccccc;
margin-left: 3%;
margin-right: 5%;
}
/*Color comprados: ff8d27.
Color hover: c16b1e.
Color header: 5e81d1.
*/
