* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
}

body {
    margin: 0%;
    background-color: #ff8d27;
}
div label {
    display: block;
    padding: 10px 0px;
}
/*altura cabecera en la foto: 149px
ancho cabecera en la foto: 778px

*/

 .cabecera {

  background-color: #5e81d1;
  display: flex;
  padding-left: 15px;
  padding-top: 62px;
  padding-bottom: 60px;
  padding-right: 15px;
    margin-top: auto;
  margin-bottom: auto;
}

.barra-inf {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: 26px;
}

.seccion-tabla {
  padding-left: 15px;
  padding-top: 5%;
  padding-right: 15px;
}

.form {
    padding-top: 32px;
    padding-left: 15px;
    padding-right: 15px;
}


h1 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    padding-left: 15px;
}
li a {
    padding: 4px;
    text-decoration: none;
    color: black;
}


li a:hover {
 text-decoration-line: underline;;
}
/*
li a:focus {
 font-weight: bold;
}
*/
.nav {
    position: absolute;
    right: 15px;
    font-size: 17px;

    /* list-style-type: none; */
    display: flex;
    /* max-width: 100%; */
    /* padding-right: 10px; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */

}

.nav-2 {
  font-size: 17px;
}


.nav:hover {
  cursor: pointer;
}

.comprados {
    position: absolute;
    right: 15px;
    top: 40%;
    font-size: 23px;
}

.barra-inf {
    height:65px;
    max-width: 100%;
    border-bottom: solid 1.1px #d96600;
    background-color: #f87500;

}
.editar_comprados {
    height:65px;
    max-width: 100%;
}

ul {
  list-style-type : none;
  display: flex;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /*border-bottom: solid 1.1px#cccccc;*/
  margin-top: 14px;
}

td {
  text-align: left;
  padding: 8px;
  width: 100%;
}
.leche {
  text-decoration:line-through;
}
.pan {
  text-decoration:line-through;
}


.suma {
  text-align: right;
  padding: 8px;
  margin-right: 10px;
 /* border-top: solid 1.1px#cccccc;*/
}

tr:hover {
  background-color: #c16b1e;
  color: white;
}


input, textarea, select{
  font-family:inherit;
}
.fa-minus-circle:before {
    content: "\f056";
    font-size: 35px;
    /* margin-bottom: 10px; */
    position: absolute;
    top: 40%;
}
.fa-plus-circle:before {
       content: "\f056";
    font-size: 35px;
    /* margin-bottom: 10px; */
    position: absolute;
    top: 40%;
}
.fas {
margin-left: 10px;
}
.link-active {
    font-weight: bolder;
}

/*
.border {
border-bottom: solid 1.1px#cccccc;
margin-left: 3%;
margin-right: 5%;
}
*/
/*Color comprados: ff8d27.
Color hover: c16b1e.
Color header: 5e81d1.
*/

.boton {
  color: #FFF;
  padding: 10px 10px;
  background-color: #5e81d1;
  text-decoration: none;
}
